<app-header></app-header>
<!--<div class="container">-->
<!--  <h2>App component {{title}}</h2>-->
<!--&lt;!&ndash;  <a href="{{link}}">Google</a>&ndash;&gt;-->
<!--  &lt;!&ndash; attribute biding in Angular(2+)&ndash;&gt;-->
<!--  <a [href]="link">Google</a>-->
<!--  &lt;!&ndash; event binding &ndash;&gt;-->
<!--  <button class="btn btn-outline-danger" (click)="onClick()">Click</button>-->
<!--  &lt;!&ndash; two way binding &ndash;&gt; &lt;!&ndash; banana in a box&ndash;&gt;-->
<!--  <input type="text" [(ngModel)]="title">-->
<!--  <input type="text" [value]="title" (input)="updateTitle($event)">-->
<!--</div>-->

<router-outlet></router-outlet>
<!--<app-products></app-products>-->
<!--<app-home></app-home>-->


